name: Mac-ARD-Tailscale-Final
on:
  workflow_dispatch:

jobs:
  build:
    name: MacRemote
    runs-on: macos-latest
    timeout-minutes: 360

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create Admin User
        run: |
          # Membuat user admin agar tidak error permission
          sudo sysadminctl -addUser adminrdp -fullName "Admin RDP" -password "Password123" -admin

      - name: Install & Connect Tailscale
        id: tailscale
        env:
          # Di sini kita panggil nama secret kamu yang 'TOKEN'
          TS_TOKEN: ${{ secrets.TAILSCALE_AUTH_TOKEN }}
        run: |
          brew install tailscale
          sudo tailscaled --tun=userspace-networking &
          sleep 5
          
          # Kita masukkan isi TOKEN ke dalam parameter --authkey
          sudo tailscale up --authkey=${TS_TOKEN} --hostname="Mac-ARD-Github" --accept-routes
          
          TS_IP=$(tailscale ip -4)
          echo "ip=$TS_IP" >> $GITHUB_OUTPUT

      - name: Enable Apple Remote Desktop (ARD)
        run: |
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart \
          -activate -configure -access -on \
          -clientopts -setvncpw -vncpw Password123 \
          -restart -agent -privs -all

      - name: Koneksi Info
        run: |
          echo "=========================================="
          echo "STATUS: KONEKSI BERHASIL"
          echo "=========================================="
          echo "IP Address   : ${{ steps.tailscale.outputs.ip }}"
          echo "Username     : adminrdp"
          echo "Password     : Password123"
          echo "VNC Password : Password123"
          echo "=========================================="

      - name: Keep Alive
        run: |
          while true; do
            echo "Keep alive: Mac menyala di ${{ steps.tailscale.outputs.ip }}..."
            sleep 300
          done
          
